parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type array\|null supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: composer/bin/alike

		-
			message: '#^Function alikecolor\\displayDiff\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: composer/bin/alike

		-
			message: '#^Function alikecolor\\displayDiff\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: composer/bin/alike

		-
			message: '#^Function alikecolor\\displayDiff\(\) has parameter \$stream with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: composer/bin/alike

		-
			message: '#^Function alikecolor\\getDiffStats\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: composer/bin/alike

		-
			message: '#^Function alikecolor\\getDiffStats\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: composer/bin/alike

		-
			message: '#^PHPDoc tag @var has invalid value \(\$colorFiles \\SplFileInfo\[\]\)\: Unexpected token "\$colorFiles", expected type at offset 12 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: composer/bin/alike

		-
			message: '#^PHPDoc tag @var has invalid value \(\$colorOne \\donatj\\AlikeColorFinder\\ColorEntry\)\: Unexpected token "\$colorOne", expected type at offset 14 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: composer/bin/alike

		-
			message: '#^PHPDoc tag @var has invalid value \(\$colorTwo \\donatj\\AlikeColorFinder\\ColorEntry\)\: Unexpected token "\$colorTwo", expected type at offset 70 on line 3$#'
			identifier: phpDoc.parseError
			count: 1
			path: composer/bin/alike

		-
			message: '#^Parameter \#1 \$stream of function fwrite expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 4
			path: composer/bin/alike

		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: composer/bin/alike

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#2 \$colorEntryFactory \(donatj\\AlikeColorFinder\\ColorEntryFactory\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: src/AlikeColorFinder.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#3 \$colorDiffer \(donatj\\AlikeColorFinder\\ColorDiffStrategy\\ColorDiffStrategyInterface\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: src/AlikeColorFinder.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\AlikeColorFinder\:\:__construct\(\) has parameter \$colors with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AlikeColorFinder.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\AlikeColorFinder\:\:getAlikeColorsWithinTolerance\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AlikeColorFinder.php

		-
			message: '#^Offset ''children'' might not exist on non\-empty\-array\{master\?\: donatj\\AlikeColorFinder\\ColorEntry, children\?\: non\-empty\-list\<array\{diff\: mixed, color\: donatj\\AlikeColorFinder\\ColorEntry\}\>\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/AlikeColorFinder.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorDiffStrategy\\Absolute\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorDiffStrategy/Absolute.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorDiffStrategy\\Cie94WithAlpha\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorDiffStrategy/Cie94WithAlpha.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 2
			path: src/ColorDiffStrategy/CieDe2000WithAlpha.php

		-
			message: '#^Strict comparison using \=\=\= between float and 0 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 6
			path: src/ColorDiffStrategy/CieDe2000WithAlpha.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorDiffStrategy\\ColorDiffStrategyInterface\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorDiffStrategy/ColorDiffStrategyInterface.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:addInstance\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:addInstance\(\) has parameter \$instance with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:getDistinctInstances\(\) should return array\<string\> but returns list\<int\|string\>\.$#'
			identifier: return.type
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:getInstanceTotal\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:getLabAlphaCieArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:getRgbHexString\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:getRgbaArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:getRgbaString\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:getSimplestCssString\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:getXyzaArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:setA\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:setB\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:setG\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntry\:\:setR\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Property donatj\\AlikeColorFinder\\ColorEntry\:\:\$distinctInstances has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/ColorEntry.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHexString\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHexString\(\) has parameter \$hex with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsl\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsl\(\) has parameter \$h with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsl\(\) has parameter \$l with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsl\(\) has parameter \$s with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsla\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsla\(\) has parameter \$a with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsla\(\) has parameter \$h with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsla\(\) has parameter \$l with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromHsla\(\) has parameter \$s with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgb\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgb\(\) has parameter \$b with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgb\(\) has parameter \$g with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgb\(\) has parameter \$r with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgba\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgba\(\) has parameter \$a with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgba\(\) has parameter \$b with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgba\(\) has parameter \$g with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\ColorEntryFactory\:\:makeFromRgba\(\) has parameter \$r with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/ColorEntryFactory.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#2 \$colorEntryFactory \(donatj\\AlikeColorFinder\\ColorEntryFactory\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: src/CssColorExtractor.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\CssColorExtractor\:\:__construct\(\) has parameter \$subject with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/CssColorExtractor.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\CssColorExtractor\:\:extractColors\(\) has parameter \$errors with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/CssColorExtractor.php

		-
			message: '#^Method donatj\\AlikeColorFinder\\CssColorExtractor\:\:getFuncColor\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/CssColorExtractor.php

		-
			message: '#^Parameter \#1 \$str of function preg_quote expects string, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/CssColorExtractor.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/CssColorExtractor.php

		-
			message: '#^Property donatj\\AlikeColorFinder\\CssColorExtractor\:\:\$colors has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/CssColorExtractor.php
